@model DataTable
@using System.Data
<div class="pagetitle">
    <h1>State List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">State</li>
            <li class="breadcrumb-item active">State List</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">State List</h5>
        <span class="text-danger">@TempData["ErrorMessage"]</span>
        <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-warning" asp-controller="State" asp-action="StateExportToExcel">Export</a>
        <a class="btn btn-primary" asp-controller="State" asp-action="State_Add_Edit">+ Add State</a>
        </div>
        <table class="table datatable table-hover table-striped">
            <thead>
                <tr>
                    <th>StateID</th>
                    <th>CountryID</th>
                    <th>StateName</th>
                    <th>StateCode</th>
                    <th>CreationDate</th>
                    <th>UserID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(DataRow dataRow in Model.Rows){
                    <tr>
						<td>@dataRow["StateID"]</td>
						<td>@dataRow["CountryID"]</td>
						<td>@dataRow["StateName"]</td>
						<td>@dataRow["StateCode"]</td>
						<td>@dataRow["CreationDate"]</td>
						<td>@dataRow["UserID"]</td>
                        <td>
                            <a class="btn btn-outline-success" asp-controller="State" asp-action="State_Add_Edit" asp-route-StateID="@dataRow["StateID"]"><i class="bi bi-pen-fill">Edit</i></a>
                            <a asp-controller="State" asp-action="StateDelete" asp-route-StateID="@dataRow["StateID"]" class="btn btn-outline-danger btn-xs" onclick="return confirm('Are you sure you want to delete?');">
                                <i class="bi bi-x"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>