@model DataTable
@using System.Data
<div class="pagetitle">
    <h1>Country List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Country</li>
            <li class="breadcrumb-item active">Country List</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Country List</h5>
        <span class="text-danger">@TempData["ErrorMessage"]</span>
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-warning" asp-controller="Country" asp-action="CountryExportToExcel">Export</a>
            <a class="btn btn-primary" asp-controller="Country" asp-action="Country_Add_Edit">+ Add Country</a>
        </div>
        <table class="table datatable table-hover table-striped">
            <thead>
                <tr>
                    <th>CountryID</th>
                    <th>CountryName</th>
                    <th>CountryCode</th>
                    <th>CreationDate</th>
                    <th>UserID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (DataRow dataRow in Model.Rows)
                    {
                    <tr>
                        <td>@dataRow["CountryID"]</td>
                        <td>@dataRow["CountryName"]</td>
                        <td>@dataRow["CountryCode"]</td>
                        <td>@dataRow["CreationDate"]</td>
                        <td>@dataRow["UserID"]</td>
                        <td>
                            <a class="btn btn-outline-success" asp-controller="Country" asp-action="Country_Add_Edit" asp-route-CountryID="@dataRow["CountryID"]"><i class="bi bi-pen-fill">Edit</i></a>
                            <a asp-controller="Country" asp-action="CountryDelete" asp-route-CountryID="@dataRow["CountryID"]" class="btn btn-outline-danger btn-xs" onclick="return confirm('Are you sure you want to delete?');">
                                <i class="bi bi-x"></i>
                            </a>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>

    </div>
</div>